*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
}
.login img{
    border-top-left-radius: 30px;
    border-bottom-left-radius:30px;
}
.login h1{
    font-size: 4rem;
    font-weight: 700;
    font-family:'Pacifico', cursive;
    color:rgba(216,19,19,0.53);
}
.inp{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: -4px 6px 24px 22px rgba(216,19,19,0.53);
-webkit-box-shadow: -4px 6px 24px 22px rgba(216,19,19,0.53);
-moz-box-shadow: -4px 6px 24px 22px rgba(216,19,19,0.53);
}
.btn1{
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background-color: rgba(216,19,19,0.53);
    color:white ;

}
.btn1:hover{
    background-color:#890025;
    transition: 0.5s;
}
a{
      text-decoration: none;
      font-size: 18px;
      color: #890025;
}
/*--footer-----*/

.footer-box{
	background: #890025;
	padding: 20px 0;
}

.footer-box .footer-company-name{
	text-align: center;
	margin: 0px;
	color: white;
}

.footer-box .footer-company-name a{
	color: :#890025;
}
.footer-box .footer-company-name a:hover{
	color: #63c7bd;
}

